<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" th:action=@{/article_post} method="post">
    <span>投稿者名:</span>
    <input type="text" name="name" id="name">
    <br>
    <span>投稿内容</span>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <br>
    <button type="submit">記事投稿</button>
</form>

<div th:each="article : ${articles}">
    <span>投稿者名:</span> <span th:text="${article.name}"></span> <br>
    <span>投稿内容:</span> <br>
    <span th:text="${article.content}"></span> <br>
    <button type="submit">記事削除</button>
    <br>
</div>
</body>
</html>